<!doctype html>
<html lang="en">

<head>
    <title>Taskist</title>
    <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}"/>
    <link rel="stylesheet" href="{{ asset("assets/css/header.css") }}"/>
</head>

<body>
<header>
    <span><a href="{{ url("home") }}">taskist</a></span>
    <span><a href="{{ url("add") }}" class="add"></a></span>
</header>

<main>
    {% include component %}
</main>

<script src="{{ asset("assets/js/taskist.js") }}"></script>

</body>

</html>