{% if items|length > 0 %}
<ul>
    {% for item in items %}
        {% if not item.done %}
            <li>
                <div class="task">
                    <form method="post">
                        <input type="hidden" name="action" value="done"/>
                        <input type="hidden" name="id" value="{{ item.id }}"/>
                        <button class="check">
                            <div class="circle"></div>
                        </button>
                    </form>
                    <div class="item-info">
                        <p>{{ item.title }}</p>
                        <div class="additional-information">
                            {% if item.responsible %}
                                <span class="responsible"></span>
                                <span class="label">{{ item.responsible.name }}</span>
                            {% endif %}

                            {% if item.project %}
                                <span class="project"></span>
                                <span class="label"><a href="{{ url("project", {"projectId": item.project.id}) }}">{{ item.project.name }}</a></span>
                            {% endif %}

                            {% if item.deadline %}
                                <span class="deadline"></span>
                                <span class="label">{{ item.deadline|date("Y-m-d") }}</span>
                            {% endif %}

                            {% if item.tags.count > 0 %}
                                {% for tag in item.tags %}
                                    <span class="tag"></span>
                                    <span class="label">{{ tag.name }}</span>
                                {% endfor %}
                            {% endif %}

                            <a href="{{ url("item", {"id": item.id}) }}">Add a comment</a>
                        </div>

                        {% if item.children.count > 0 %}
                            <div class="children">
                                {% include 'components/list.twig' with {"items": item.children} %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% else %}
    <p>No items could be found.</p>
{% endif %}